* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

/*=======================================================*/
h1{
	font-family: Arial;
	margin:10px;
	font-size:40px;
	font-weight: 100;
}

h2{
	font-weight:normal;
	margin:10px;
	font-size:60px;
}

.round {
	position:absolute;
	top: -100px;
	left: -100px;
	width:560px;
	height:560px;
	border-radius:100%;
	border-width: 100px;
	border-color: black;
	border-style:solid;
	z-index:100;
}

.page {
	position:absolute;
	top: 0px;
	left: 0px;
	width:360px;
	height:360px;
	border-width: 0px;
	border-color: white;
	border-style:solid;
	background:linear-gradient(45deg, #6a237e 10%, #245778 90%);
	z-index: 0;
}

.top-capt{
	display:table-cell;
	vertical-align: bottom;
	text-align:center;
}

.mid-capt{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

.bot-capt{
	display:table-cell;
	vertical-align: top;
	text-align:center;
}

.mid-t {
	height:40px;
	width:180px;
	margin:0px;
	padding:0px;
}

.mid-m {
	height:100px;
	width:180px;
	margin:0px;
	padding:0px;
}

.mid-b {
	height:40px;
	width:180px;
	margin:0px;
	padding:0px;
}

.vertical-top {
	display:table-cell;
	vertical-align: top;
	text-align:center;
}

.vertical-mid {
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

.vertical-bot {
	display:table-cell;
	vertical-align: bottom;
	text-align:center;
}

.circle{
	position:absolute;
	top: 0px;
	left: 0px;
	width:360px;
	height:360px;
	border-radius:100%;
	border-width: 10px;
	border-color: #444444;
	border-style:solid;
	background-color:rgba(22,22,22,0.7);
	z-index:-1;
}

.div-center{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}



.auto-mod {
	position:absolute;
	top: 90px;
	left: 90px;
	width:180px;
	height:180px;
	border-radius:100%;
	border-width: 0px;
	border-color: white;
	border-style:solid;
	background-color:rgba(22,22,22,0.7);
	z-index:7;
	font-size:11px;
	display:block;
}

.loading {
	position:absolute;
	top: 0px;
	left: 0px;
	width:360px;
	height:360px;
	display:table;
	background-color:rgba(00,00,00,1.0);
	z-index:8;
}

.top-shadow {
	position:absolute;
	top: 0px;
	left: 0px;
	width:360px;
	height:80px;
	display:table;
	background:linear-gradient(to bottom,rgba(00,00,00,1.0) 0%, rgba(00,00,00,0.0) 100%);
	z-index:2;
}

.bot-shadow {
	position:absolute;
	top: 280px;
	left: 0px;
	width:360px;
	height:80px;
	display:table;
	background:linear-gradient(to top, rgba(00,00,00,1.0) 0%, rgba(00,00,00,0.0) 100%);
	z-index:2;
}

.song-content{
	width:360px;
	height:100%;
	margin:0px;
	padding:80px 0px 80px 0px;
	/*background:linear-gradient(45deg, #6a237e 10%, #245778 90%);*/
	z-index: 1;
}

.song-list{
	width:360px;
	margin:0px;
	padding:0px;
	/*background:linear-gradient(45deg, #6a237e 10%, #245778 90%);*/
	z-index: 1;
}

.song-item{
	width:360px;
	height:50px;
	margin:0px;
	padding:0px;
}

.name {
	width:360px;
	margin:0px;
	padding:0px;
	height:30px;
	color:white;
	font-size:14px;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.artist {
	width: 360px;
	margin:0px;
	padding:0px;
	height: 20px;
	color:cyan;
	font-size:12px;
	line-height: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#volume {
	width:360px;
	height:360px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	border:0px solid white;
}

#player {
	position:absolute;
	top:180px;
	left:180px;
	width: 100px;
	height:30px;
	z-index:50;
}
